<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RTCAppGroupIdentifier</key>
	<string>group.com.ZujoNow.ScreenBroadcast</string>
	<key>RTCScreenSharingExtension</key>
	<string>com.videosdk.live.example.VideoSDKSwiftUIExample.Broadcast</string>
</dict>
</plist>
